.custom-option-image .custom-option-body img {
  height: 200px !important;


}
.custom-option.custom-option-image {
  /* border-width: 1px !important; */
}
.custom-option-image {
  /* border-width: 1px; */
}
.custom-option {
  padding-left: 0;
  border: 0px solid #dbdade;
  border-radius: 0.375rem;
}
