<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Home /</span> Feed</h4>
      <div class="card">
        <div class="card-body">
      <div class="card-datatable table-responsive">
        
        <table datatable [dtOptions]="dtOptions"  dt-instance="dtInstanceCallback" class="dt-scrollableTable dt-fixedheader table">
          <thead>
            <tr>
              <th></th>
              <th></th>
              <th>id</th>
              <th>Date Published</th>
              <th>Claim/Headline</th>
              <th>Language</th>
              <th>Date Created</th>
              <th>Creator</th>
              <th>Action</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
</div>