.mt-10 {
    margin-top: 10px !important;
}
div.dataTables_wrapper div.dataTables_length, div.dataTables_wrapper div.dataTables_filter {
    margin-top: 0.2rem !important;
    margin-bottom: 1rem;
  }

  .col-md-3-new{
    flex: 0 0 auto;
    width: 25%;
  }