<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Settings/Templates/</span> 
    Video</h4>
      <div class="card">
        <div class="card-body">
      <div class="card-datatable table-responsive">
        <table datatable [dtOptions]="dtOptions" class="dt-fixedheader table dt-scrollableTable">
          <thead>
            <tr>
              <th></th>
              <th></th>
              <th>id</th>
              <th>Name</th>
              <th>Description</th>
              <th>Languages</th>
              <th>Preview</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
</div>