<div class="container-xxl flex-grow-1 container-p-y">
  <h4 class="fw-bold py-3 mb-4">
    <span class="text-muted fw-light">Settings/Templates/</span>{{headerText}}
  </h4>
  <div class="card">
    <div class="card-body">
      <div
        id="accountDetailsValidation"
        *ngIf="languages$ | async as languages"
        class="content active dstepper-block fv-plugins-bootstrap5 fv-plugins-framework"
      >
        <form
          class="example-form"
          [formGroup]="templateForm"
          (ngSubmit)="submitForm(languages.data)"
        >
          <div class="row g-3">
            <div class="col-sm-12 fv-plugins-icon-container">
              <label class="form-label" for="multiStepsUsername">Name</label>
              <input
                type="text"
                formControlName="name"
                name="multiStepsUsername"
                id="multiStepsUsername"
                class="form-control"
                placeholder="Name"
              />
              <div class="fv-plugins-message-container invalid-feedback">
                <div
                  *ngIf="f['name'].touched && f['name'].errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f['name'].errors['name']">
                    First Name is required!
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 fv-plugins-icon-container">
              <label class="form-label" for="multiStepsUsername"
                >Description</label
              >
              <textarea
                type="text"
                formControlName="description"
                name="multiStepsUsername"
                id="multiStepsUsername"
                class="form-control"
                placeholder="Description"
              ></textarea>
              <div class="fv-plugins-message-container invalid-feedback">
                <div
                  *ngIf="f['description'].touched && f['description'].errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f['description'].errors['description']">
                    Description is required!
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 fv-plugins-icon-container">
              <label class="form-label" for="multiStepsUsername"
                >JSON Template</label
              >
              <textarea
                type="text"
                formControlName="jsonTemplate"
                name="multiStepsUsername"
                id="multiStepsUsername"
                class="form-control"
                placeholder="Json"
              ></textarea>
              <div class="fv-plugins-message-container invalid-feedback">
                <div
                  *ngIf="f['jsonTemplate'].touched && f['jsonTemplate'].errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f['jsonTemplate'].errors['jsonTemplate']">
                    JsonTemplate is required!
                  </div>
                </div>
              </div>
            </div>
            <div class="mb-3 row  mt-20   " >
              <label for="html5-text-input" class="  mt-20 col-md-2 col-form-label"
                >Image</label
              >
              <div class="col-md-2">
                <div class="image-upload">
                  <label style="cursor: pointer" for="file_upload">
                    <img src="" alt="" class="uploaded-image" />
                    <div class="h-100">
                      <div class="dplay-tbl">
                        <div class="dplay-tbl-cell">
                          <i class="ti ti-upload upload_icon"></i>
                        </div>
                      </div>
                    </div>

                    <input
                       data-required="image"
                        type="file"
                        name="image_name"
                        id="file_upload"
                        class="image-input"
                        accept="image/*"
                        (change)="uploadImageFile($event)"
                        data-traget-resolution="image_resolution"
                        value=""
                    />
                  </label>
                </div>
              </div>
              <div class="col-md-8">
                <div class="preview" *ngIf="preview && preview !== null" class="card" style="max-width:125px">
                  <img  class="card-img" [src]="preview"  alt="Card image cap">
                </div>
              </div>
            </div>
            <div class="mb-3 row" style="margin-top: 25px">
              <label for="html5-text-input" class="  mt-20 col-md-2 col-form-label"
                >Muted Intro Video</label
              >
              <div class="col-md-2">
                <div class="image-upload">
                  <label style="cursor: pointer" for="file_upload_intro">
                    <img src="" alt="" class="uploaded-image" />
                    <div class="h-100">
                      <div class="dplay-tbl">
                        <div class="dplay-tbl-cell">
                          <i class="ti ti-upload upload_icon"></i>
                        </div>
                      </div>
                    </div>

                    <input
                      data-required="image"
                      type="file"
                      id="file_upload_intro"
                      accept="video/mp4,video/x-m4v,video/*"
                      (change)="uploadIntroFile($event)"
                      class="image-input"
                      data-traget-resolution="image_resolution"
                      value=""
                    />
                  </label>
                </div>
              </div>
              <div class="col-md-8">
                <div class="preview" *ngIf="introPreview && introPreview !== null" class="card" style="max-width:125px">
                  <video class="card-img" controls>
                    <source [src]="introPreview" type="video/mp4">
                  </video>
                  <!-- <img   [src]="introPreview"  alt="Card image cap"> -->
                </div>
              </div>
            </div>
            <div class="mb-3 row" style="margin-top: 25px">
              <label for="html5-text-input" class=" mt-20 col-md-2 col-form-label"
                >Muted Outro Video</label
              >
              <div class="col-md-2">
                <div class="image-upload">
                  <label style="cursor: pointer" for="file_upload_outro">
                    <img src="" alt="" class="uploaded-image" />
                    <div class="h-100">
                      <div class="dplay-tbl">
                        <div class="dplay-tbl-cell">
                          <i class="ti ti-upload upload_icon"></i>
                        </div>
                      </div>
                    </div>

                    <input
                      data-required="image"
                      type="file"
                      id="file_upload_outro"
                      accept="video/mp4,video/x-m4v,video/*"
                      (change)="uploadOutroFile($event)"
                      class="image-input"
                      data-traget-resolution="image_resolution"
                      value=""
                    />
                  </label>
                </div>
              </div>
              <div class="col-md-8">
                <div class="preview" *ngIf="outroPreview && outroPreview !== null" class="card" style="max-width:125px">
                  <video class="card-img" controls>
                    <source [src]="outroPreview" type="video/mp4">
                  </video>
                  <!-- <img  class="card-img" [src]="outroPreview"  alt="Card image cap"> -->
                </div>
              </div>
            </div>
            <div class="bs-stepper-content">
              <div id="account-details" class="content active dstepper-block">
                <div class="content-header mb-3">
                  <h6 class="mb-0">Languages</h6>
                </div>
                <div >
                  <div class="mb-3 row" *ngFor="let language of languages.data">
                    <div class="col-sm-10">
                      <div class="accordion mt-3" id="accordionExample">
                        <div class="card accordion-item">
                          <h2 class="accordion-header" id="headingOne">
                            <button
                              type="button"
                              class="accordion-button"
                              data-bs-toggle="collapse"
                              [attr.data-bs-target]="
                                '#accordionOne' + language.value
                              "
                              aria-expanded="true"
                              aria-controls="accordionOne"
                            >
                              {{ language.language }}
                            </button>
                          </h2>
                          <div
                            [id]="'accordionOne' + language.value"
                            class="accordion-collapse collapse"
                            data-bs-parent="#accordionExample"
                            style=""
                          >
                            <div  class="accordion-body"  >
                              <app-template-languages [language]="language" ></app-template-languages>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--  -->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 d-flex justify-content-between mt-4">
              <button
                [disabled]="templateForm.invalid"
                class="btn btn-primary btn-next waves-effect waves-light"
              >
                <span class="align-middle d-sm-inline-block d-none me-sm-1 me-0"
                  >{{buttonText}}</span
                >
                <i class="ti ti-device-floppy"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
