<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">
      <a ><i  class="ti ti-chevron-left" style="font-size: 2rem;"></i></a>
      <span class="text-muted fw-light">Settings/Templates/</span>Edit</h4>
      <div class="card">
        <div class="card-body">


<div id="accountDetailsValidation" class="content active dstepper-block fv-plugins-bootstrap5 fv-plugins-framework">
    <form class="example-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="row g-3">
      <div class="col-sm-12 fv-plugins-icon-container">
        <label class="form-label" for="multiStepsUsername">Name</label>
        <input type="text" formControlName="firstName" name="multiStepsUsername" id="multiStepsUsername" class="form-control" placeholder="Name">
      <div class="fv-plugins-message-container invalid-feedback">
        <div *ngIf="f['firstName'].touched && f['firstName'].errors" class="invalid-feedback">
            <div *ngIf="f['firstName'].errors['firstName']">First Name is required!</div>
          </div>
      </div>
    </div>
    <div class="col-sm-12 fv-plugins-icon-container">
        <label class="form-label" for="multiStepsUsername">Description</label>
        <textarea type="text" formControlName="lastName" name="multiStepsUsername" id="multiStepsUsername" class="form-control" placeholder="Description"></textarea>
      <div class="fv-plugins-message-container invalid-feedback">
        <div *ngIf="f['lastName'].touched && f['lastName'].errors" class="invalid-feedback">
            <div *ngIf="f['lastName'].errors['lastName']">Last Name is required!</div>
          </div>
      </div>
    </div>
    <div class="col-sm-12 fv-plugins-icon-container">
        <label class="form-label" for="multiStepsUsername">JSON Template</label>
        <textarea type="text" formControlName="lastName" name="multiStepsUsername" id="multiStepsUsername" class="form-control" placeholder="Json"></textarea>
      <div class="fv-plugins-message-container invalid-feedback">
        <div *ngIf="f['lastName'].touched && f['lastName'].errors" class="invalid-feedback">
            <div *ngIf="f['lastName'].errors['lastName']">Last Name is required!</div>
          </div>
      </div>
    </div>
      <div class="col-sm-6 fv-plugins-icon-container">
        <label class="form-label" for="multiStepsEmail">Icon</label>
        <ngx-dropzone class="drop_zone" (change)="onSelect($event)">
            <ngx-dropzone-label>
                Drop files here or click to upload
                </ngx-dropzone-label>
            <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
            </ngx-dropzone-preview>
        </ngx-dropzone>
      <div class="fv-plugins-message-container invalid-feedback">
        <div *ngIf="f['email'].touched && f['email'].errors" class="invalid-feedback">
            <div *ngIf="f['email'].errors['email']">Mobile is required!</div>
          </div>
      </div></div>
    
      
      <div class="bs-stepper-content">
      
          <!-- Account Details -->
          <div id="account-details" class="content active dstepper-block">
            <div class="content-header mb-3">
              <h6 class="mb-0">Languages</h6>
            
            </div>
            
            
            <div class="mb-3 row" >
                <!-- <label for="inputPassword" class="col-sm-2 col-form-label"></label> -->
                <div class="col-sm-10">
                    
                    <div class="accordion mt-3" id="accordionExample">
                        <div class="card accordion-item" *ngFor="let language of supportedLanguages">
                          <h2 class="accordion-header" id="headingOne">
                            <!-- <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"  aria-expanded="false" aria-controls="accordionOne">
                                {{language.name}}
                            </button> -->
                            <button type="button" class="accordion-button" data-bs-toggle="collapse" [attr.data-bs-target]="'#accordionOne'+language.value"  aria-expanded="true" aria-controls="accordionOne">
                                {{language.name}}
                              </button>
                          </h2>
                          <div [id]="'accordionOne'+language.value"  class="accordion-collapse collapse" data-bs-parent="#accordionExample" style="">
                            <div class="accordion-body">
                                <app-template-languages></app-template-languages>
                            </div>
                          </div>
                        </div>
                      </div>
                 <!--  -->
                </div>
              </div>
          </div>
      
      </div>
 
      
      
      
      <div class="col-12 d-flex justify-content-between mt-4">
       
        <button [disabled]="registerForm.invalid" class="btn btn-primary btn-next waves-effect waves-light">
          <span class="align-middle d-sm-inline-block d-none me-sm-1 me-0">Save</span>
          <i class="ti ti-device-floppy"></i>
        </button>
      </div>
    </div>
</form>
  </div>
</div>
</div>
</div>